@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
    font-size: 16px;
    color: #ffffff;
    background-color: #282c34;
}

a {
  color: #61dafb;
}

.App {
    width: 400px;
    min-height: 300px;
}

@keyframes Spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}